<div class="widow">
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><center>Ballers of 2k14</center></h1>
      </div>
    </div>
  </div>   
  <h2><center> <%=  @name %> </center></h2>
    <div class="container bio">
      <div class="row">
        <div class="col-md-12">
          <img height="410px" src="  <%= @image.url %>" alt="pew pew">
          <p>
            <strong> Bio: </strong>
              </p>
          <div class="caption"><%= @image.caption %></div>
        </div>   
         <a href="/img/<%= @image.id %>/edit">edit</a> 
             
          <p>
            <strong> Location: </strong> Unknown
          </p>
      
  </div>
       <a href="/img/<%= @image.id %>/destroy">delete</a>
      <div id="progressbar"></div>
<br>  <br><br><br><br><br>
      <br>
      <br>
      <br>
    <br>
   </div>
  <br><br><br>
    
</div>
